@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// NAVBAR //
.navbar {
  display: flex;
  background-color: #fefefe8f;
  height: 50px;

  .icon-image {
    cursor: pointer;
    border-radius: 48%;
    margin-right: 10px;
    height: 40px;
    border: 1px solid rgb(93, 93, 93);
  }
  .nav-left {
    display: flex;
    align-items: center;
    // color: rgb(245, 245, 245);
    justify-content: flex-end;
    font-family: "Pacifico", cursive;
    font-size: 28px;
    width: 55%;

    span {
      font-family: "Pacifico", cursive;
      font-size: 30px;
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    .user-icon {
      margin-right: 10px;
      font-size: 35px;
      cursor: pointer;
    }
    .post-icon {
      font-size: 30px;
      cursor: pointer;
      margin-right: 10px;
      color: black;
      // color: rgb(255, 255, 255);
    }
  }
  .nav-dropdown {
    text-align: center;
    position: absolute;
    top: 45px;
    right: 0;
    width: 3%;
    padding: 10px;
    z-index: 1001;
    box-shadow: 0px 10px 10px -10px black;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%);
    span {
      cursor: pointer;
    }
  }
}

.bg {
  background-image: url("https://i.dlpng.com/static/png/5383160-blue-bubble-background-gallery-76-images-bubble-background-1920_1200_preview.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #52a7c1;
  // background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
  // background-color: rgba(236, 236, 236, 0.363);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// SIGNUP //
.signup-main {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  //   background-color: grey;
  .signup-container {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 400px;
    // height: 500px;
    border-radius: 10px;
    background-color: white;
  }
  h1 {
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  }
  .signup-form-container {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    .signup-form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
        font-size: 20px;
        padding-left: 10px;
        height: 40px;
        outline: none;
        margin-top: 2px;
      }
      .login-button {
        width: 80px;
        padding: 10px 0px;
        font-size: 16px;
        background-color: green;
        border: 1px solid green;
        border-radius: 4px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        outline: none;
      }
      .signup-span {
        margin-left: 20px;
        color: grey;
        border-bottom: 1px solid grey;
        cursor: pointer;
        text-decoration: none;
      }
      .signup-success {
        color: green;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

// TASK MODAL //
.task-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;

  padding-bottom: 10px;

  h1 {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 5px 0px;
    text-align: center;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  }

  .task-input {
    text-align: start;
    font-size: 25px;
    border-radius: 3px;
    outline: none;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(168, 168, 168);
    margin-bottom: 10px;
    word-break: break-word;
  }

  button {
    width: 80px;
    padding: 4px 0px;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    border: 1px solid #60947d;
    background-color: #abe9cd;
    // background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  }
}

// BOARD //
.board-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    // color: rgb(247, 247, 247);
  }
  .task-container {
    display: flex;
    width: 80%;
    padding: 20px 0px;
    margin: 20px 0px;
    height: 700px;
    max-height: 700px;

    .tasks {
      display: flex;
      position: relative;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;
      width: 280px;
      padding: 0px 0px;
      border-radius: 5px;
      margin-left: 20px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(187, 187, 187);
      // border: 1px solid black;

      .task-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        // background-color: rgb(211, 211, 211);
        // background-color: Red;
        .fixed-boolean {
          font-size: 16px;
          margin-left: 4px;
          border-radius: 5px;
          padding: 3px 5px;
          background-color: rgb(248, 103, 103);
        }
        .active-boolean {
          font-size: 16px;
          margin-left: 4px;
          border-radius: 5px;
          padding: 3px 5px;
          background-color: rgb(53, 194, 53);
        }
        .dot-dropdown {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: absolute;
          height: 15%;
          width: 40%;
          box-shadow: 0px -5px 10px -3px rgb(116, 116, 116);
          top: 0px;
          // left: 0px;
          right: 25px;
          // padding: 10px;
          z-index: 1001;
          background-color: white;
          border-right: 0.5px solid rgba(114, 114, 114, 0.767);
          border-bottom: 0.5px solid rgba(114, 114, 114, 0.767);
          // border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          p {
            margin: 0px;
            padding: 0px;
          }
          .fixed-tag {
            // height: 55%;
            flex: 1;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            // border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 0.5px solid black;
            border-right: 0.5px solid black;
            padding-bottom: 2px;
            cursor: pointer;
            background-color: rgb(243, 59, 59);
          }
        }

        .dots {
          margin-right: 5px;
          font-size: 25px;
          cursor: pointer;
        }
      }
      .task-text-container {
        display: flex;
        min-height: 50%;
        margin: 3px 6px;
        border-radius: 5px;
        // border: 1px solid rgb(167, 167, 167);
        background-color: white;
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.23), 0 0px 0px rgba(0, 0, 0, 0.23);
        p {
          font-size: 18px;
          margin-left: 5px;
        }
      }
      .board-icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20%;
        margin-bottom: 2px;
        // background-color: yellow;
        .card-plus {
          font-size: 20px;
          margin-right: 8px;
          cursor: pointer;
        }
        .board-icons {
          border-radius: 48%;
          margin-right: 10px;
          height: 40px;
          border: 1px solid rgb(93, 93, 93);
        }
      }
    }
  }
}
